mixin swiper-slide(args)
  -let src = args.src;
  -let price = args.price;
  -let title = args.title;
  -let description = args.description; 
  -let type = args.type;
  -let content = args.content;
  -let contentName = args.contentName;
  -let classList = args.classList;
  -let className = args.className;
  -let spanClassName = args.spanClassName;
  -let spanClassList = args.spanClassList;
  -let id = args.id;
  -let idName = args.idName;
  .swiper-slide__wrapper
    .swiper-slide__left
      .swiper-slide__left-img
        img(src=src, alt="coffe").e-slide__img
    .swiper-slide__right 
      .swiper-slide__right__wrapper 
        .swiper-slide__price
          p.e-slide__price= price
        .swiper-slide__title 
          h4.e-slide__title= title 
        .swiper-slide__description 
          p.e-slide__description= description
        .swiper-slide__buttons 
          .swiper-slide__btn--buy
            button(class= className, type= type, id= idName)
              span(class= spanClassName)= content

          .swiper-slide__btn--more
            button(class= classList, type= type, id= id)
              span(class= spanClassList)= content
            //- +button({
            //-   content:"CHI TIẾT",
            //-   classList: "c-button-more",
            //-   spanClassList:"c-button-text--dark",
            //- })(id= id)

        //- +button({
        //-   content:"MUA NGAY",
        //-   classList: "c-button-buy",
        //-   spanClassList:"c-button-text",
        //- })



